body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.dashboard-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-image: url("{% static 'images/result-screen.jpeg' %}")
}

.credit-score-info {
    width: 30%;
    padding: 20px;
    border-right: 2px solid #ccc;
    background-color: #ffffff; /* Change to match your design */
    height: auto;
    align-self: start; /* Align to the top */
}
.credit-score-display {
    background-color: #00008B; /* Dark blue background */
    color: #FFFFFF; /* White text */
    font-size: 108px; /* Large, bold font size */
    font-weight: bold; /* Bold font weight */
    padding: 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    margin-left: 20px; /* Add some space between the gauge and the score */
}


.credit-score-range h2,
.credit-check h2 {
    margin: 0 0 10px;
    color: #333;
    font-size: 24px;
}

.credit-score-range ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.gauge-container {
    flex: 1;
    display: flex;
    justify-content: left;
    height: 90%;
}

.credit-score-range ul li {
    font-size: 18px;
    padding: 12px 10px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative; /* Add position relative for absolute positioning of pseudo-elements */
    padding-left: 30px; /* Add padding to leave space for the colored indicator */
    line-height: 1.4; /* Adjust line height for better readability */
    background-color: #fff; /* Background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
}
.credit-score-range ul li::before {
    content: ''; /* Required for pseudo-elements to show */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px; /* Width of the colored box */
    border-radius: 4px 0 0 4px; /* Rounded corners on the left */
    z-index: 0; /* Ensure it's behind the text if needed */
}

.excellent::before { background-color: #4CAF50; } /* Green */
.good::before { background-color: #c3f327; } /* Yellow */
.fair::before { background-color: #FFC107; } /* Amber */
.poor::before { background-color: #FF9800; } /* Orange */
.very-poor::before { background-color: #f44336; } /* Red */

.credit-check {
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit-check p {
    margin-bottom: 30px;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #43A047;
}

/* Color indicators for the credit score ranges */
.excellent { border-left-color: #4CAF50; } /* Green */
.good { border-left-color: #8BC34A; } /* Light Green */
.fair { border-left-color: #FFEB3B; } /* Amber */
.poor { border-left-color: #FFC107; } /* Orange */
.very-poor { border-left-color: #f44336; } /* Red */

#gauge {
    width: 500px; /* Set a width to make the gauge larger */
    height: 250px; /* Set a height to make the gauge larger */
}
.highlight {
    background-color: #e6ffe6; /* Light green background for highlight */
    border-left-color: #4CAF50 !important; /* Ensure the border color is green */
    box-shadow: 0 0 10px #4CAF50; /* Optional: Add a glow or shadow effect */
}
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px; /* Small space between buttons */
    transition: background-color 0.3s, box-shadow 0.3s;
    outline: none; /* Remove the outline */
}

/* Specific styles for save and back buttons */
.button-save {
    background-color: #28a745;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.2);
}

.button-back {
    background-color: #17a2b8;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(23, 162, 184, 0.2);
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .credit-score-info {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #ccc;
    }

    .credit-check {
        width: 100%;
    }
}

