body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.dashboard-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-image: url("{% static 'images/result-screen.jpeg' %}")
}

.credit-score-info {
    width: 30%;
    padding: 20px;
    border-right: 2px solid #ccc;
    background-color: #ffffff; 
    height: auto;
    align-self: start; 
}
.credit-score-display {
    background-color: #00008B; 
    color: #FFFFFF; 
    font-size: 108px;
    font-weight: bold; 
    padding: 10px; 
    border-radius: 5px; 
    margin-left: 20px; 
}


.credit-score-range h2,
.credit-check h2 {
    margin: 0 0 10px;
    color: #333;
    font-size: 24px;
}

.credit-score-range ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.gauge-container {
    flex: 1;
    display: flex;
    justify-content: left;
    height: 90%;
}

.credit-score-range ul li {
    font-size: 18px;
    padding: 12px 10px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative; 
    padding-left: 30px; 
    line-height: 1.4; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.credit-score-range ul li::before {
    content: ''; 
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px; 
    border-radius: 4px 0 0 4px; 
    z-index: 0; 
}

.excellent::before { background-color: #4CAF50; } 
.good::before { background-color: #c3f327; }
.fair::before { background-color: #FFC107; } 
.poor::before { background-color: #FF9800; } 
.very-poor::before { background-color: #f44336; } 

.credit-check {
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit-check p {
    margin-bottom: 30px;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #43A047;
}


.excellent { border-left-color: #4CAF50; } 
.good { border-left-color: #8BC34A; } 
.fair { border-left-color: #FFEB3B; } 
.poor { border-left-color: #FFC107; } 
.very-poor { border-left-color: #f44336; } 

#gauge {
    width: 500px; 
    height: 250px;
}
.highlight {
    background-color: #e6ffe6; 
    border-left-color: #4CAF50 !important; 
    box-shadow: 0 0 10px #4CAF50; 
}
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px; 
    transition: background-color 0.3s, box-shadow 0.3s;
    outline: none; 
}


.button-save {
    background-color: #28a745;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.2);
}

.button-back {
    background-color: #17a2b8;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(23, 162, 184, 0.2);
}



@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .credit-score-info {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #ccc;
    }

    .credit-check {
        width: 100%;
    }
}

